@model IEnumerable<UTTEC.Models.Alumnos>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                  @Html.DisplayNameFor(model => model.Matricula)
            </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AppPaterno)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AppMaterno)
                </th>
            <th>
                @Html.DisplayNameFor(model=>model.Grado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Matricula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppPaterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppMaterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Matricula">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Matricula">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Matricula">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
